USE [ProjectManage]
GO
/****** Object:  View [dbo].[隧道材料消耗长度]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[隧道材料消耗长度] as select top (100) percent row_number() over (order by 里程桩号) as ID, 里程桩号, 					min(case when 类别 = 'Ⅱ' then [18_消耗数量] end) as Ⅱ, min(case when 类别 = 'Ⅲc' then [18_消耗数量] end) as Ⅲc, 					min(case when 类别 = 'Ⅳa-2' then [18_消耗数量] end) as [Ⅳa-2], min(case when 类别 = 'Ⅳb' then [18_消耗数量] end) as Ⅳb, 					min(case when 类别 = 'Ⅴb' then [18_消耗数量] end) as Ⅴb, min(case when 类别 = 'Ⅴc' then [18_消耗数量] end) as Ⅴc, 					min(case when 类别 = '明偏压' then [18_消耗数量] end) as 明偏压, min(case when 类别 = '明覆2' then [18_消耗数量] end) as 明覆2, 					min(case when 类别 = '明覆4' then [18_消耗数量] end) as 明覆4, min(case when 类别 = '明覆6' then [18_消耗数量] end) as 明覆6, 					min(case when 类别 = '帽檐' then [18_消耗数量] end) as 帽檐, min(case when 类别 = '喇叭' then [18_消耗数量] end) as 喇叭, 					min(case when 类别 = '电缆槽' then [18_消耗数量] end) as 电缆槽, min(case when 类别 = '检查井' then [18_消耗数量] end) as 检查井, 					min(case when 类别 = '临时横撑' then [18_消耗数量] end) as 临时横撑, min(case when 类别 = '临时边坡' then [18_消耗数量] end) as 临时边坡, 					min(case when 类别 = '临时边' then [18_消耗数量] end) as 临时边, min(case when 类别 = '导向墙' then [18_消耗数量] end) as 导向墙, 					min(case when 类别 = '大管棚' then [18_消耗数量] end) as 大管棚, min(case when 类别 = '中管棚' then [18_消耗数量] end) as 中管棚, 					min(case when 类别 = '管棚工作室' then [18_消耗数量] end) as 管棚工作室, min(case when 类别 = '综合Ⅲ' then [18_消耗数量] end) as 综合Ⅲ, 					min(case when 类别 = '电力Ⅲ' then [18_消耗数量] end) as 电力Ⅲ, min(case when 类别 = '综合Ⅴ' then [18_消耗数量] end) as 综合Ⅴ, 					min(case when 类别 = '通信Ⅴ' then [18_消耗数量] end) as 通信Ⅴ, min(case when 类别 = '电力Ⅴ' then [18_消耗数量] end) as 电力Ⅴ, 					min(case when 类别 = '洞门回填' then [18_消耗数量] end) as 洞门回填, min(case when 类别 = '洞门附属工程' then [18_消耗数量] end) as 洞门附属工程, 					min(case when 类别 = '弃渣场' then [18_消耗数量] end) as 弃渣场 					from  隧道材料消耗 group by 里程桩号 order by ID

GO
/****** Object:  View [dbo].[隧道材料消耗数量]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道材料消耗数量]
AS
SELECT   TOP (100) PERCENT dbo.隧道材料数量.ID, dbo.隧道材料数量.里程桩号, dbo.隧道材料数量.分部工程, 
                dbo.隧道材料数量.分项工程, dbo.隧道材料数量.施工部位, dbo.隧道材料数量.材料规格, dbo.隧道材料数量.材料名称, 
                dbo.隧道材料数量.单位, dbo.隧道材料数量.Ⅱ * dbo.隧道材料消耗长度.Ⅱ AS Ⅱ, 
                dbo.隧道材料数量.Ⅲc * dbo.隧道材料消耗长度.Ⅲc AS Ⅲc, 
                dbo.隧道材料数量.[Ⅳa-2] * dbo.隧道材料消耗长度.[Ⅳa-2] AS [Ⅳa-2], 
                dbo.隧道材料数量.Ⅳb * dbo.隧道材料消耗长度.Ⅳb AS Ⅳb, dbo.隧道材料数量.Ⅴb * dbo.隧道材料消耗长度.Ⅴb AS Ⅴb, 
                dbo.隧道材料数量.Ⅴc * dbo.隧道材料消耗长度.Ⅴc AS Ⅴc, 
                dbo.隧道材料数量.明偏压 * dbo.隧道材料消耗长度.明偏压 AS 明偏压, 
                dbo.隧道材料数量.明覆2 * dbo.隧道材料消耗长度.明覆2 AS 明覆2, 
                dbo.隧道材料数量.明覆4 * dbo.隧道材料消耗长度.明覆4 AS 明覆4, 
                dbo.隧道材料数量.明覆6 * dbo.隧道材料消耗长度.明覆6 AS 明覆6, 
                dbo.隧道材料数量.帽檐 * dbo.隧道材料消耗长度.帽檐 AS 帽檐, 
                dbo.隧道材料数量.喇叭 * dbo.隧道材料消耗长度.喇叭 AS 喇叭, 
                dbo.隧道材料数量.电缆槽 * dbo.隧道材料消耗长度.电缆槽 AS 电缆槽, 
                dbo.隧道材料数量.检查井 * dbo.隧道材料消耗长度.检查井 AS 检查井, 
                dbo.隧道材料数量.临时横撑 * dbo.隧道材料消耗长度.临时横撑 AS 临时横撑, 
                dbo.隧道材料数量.临时边坡 * dbo.隧道材料消耗长度.临时边坡 AS 临时边坡, 
                dbo.隧道材料数量.导向墙 * dbo.隧道材料消耗长度.导向墙 AS 导向墙, 
                dbo.隧道材料数量.大管棚 * dbo.隧道材料消耗长度.大管棚 AS 大管棚, 
                dbo.隧道材料数量.中管棚 * dbo.隧道材料消耗长度.中管棚 AS 中管棚, 
                dbo.隧道材料数量.管棚工作室 * dbo.隧道材料消耗长度.管棚工作室 AS 管棚工作室, 
                dbo.隧道材料数量.综合Ⅲ * dbo.隧道材料消耗长度.综合Ⅲ AS 综合Ⅲ, 
                dbo.隧道材料数量.电力Ⅲ * dbo.隧道材料消耗长度.电力Ⅲ AS 电力Ⅲ, 
                dbo.隧道材料数量.综合Ⅴ * dbo.隧道材料消耗长度.综合Ⅴ AS 综合Ⅴ, 
                dbo.隧道材料数量.通信Ⅴ * dbo.隧道材料消耗长度.通信Ⅴ AS 通信Ⅴ, 
                dbo.隧道材料数量.电力Ⅴ * dbo.隧道材料消耗长度.电力Ⅴ AS 电力Ⅴ, 
                dbo.隧道材料数量.洞门回填 * dbo.隧道材料消耗长度.洞门回填 AS 洞门回填, 
                dbo.隧道材料数量.洞门附属工程 * dbo.隧道材料消耗长度.洞门附属工程 AS 洞门附属工程, 
                dbo.隧道材料数量.弃渣场 * dbo.隧道材料消耗长度.弃渣场 AS 弃渣场, dbo.隧道材料数量.序号
FROM      dbo.隧道材料数量 INNER JOIN
                dbo.隧道材料消耗长度 ON dbo.隧道材料数量.里程桩号 = dbo.隧道材料消耗长度.里程桩号
ORDER BY dbo.隧道材料数量.ID


GO
/****** Object:  View [dbo].[隧道材料消耗合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道材料消耗合计]
AS
SELECT   TOP (100) PERCENT ROW_NUMBER() OVER (ORDER BY 里程桩号) AS ID, 里程桩号, 分部工程, 材料名称, MIN(单位) AS 单位, SUM(Ⅱ) + SUM(Ⅲc) + SUM([Ⅳa-2]) + SUM(Ⅳb) + SUM(Ⅴb) + SUM(Ⅴc) + SUM(明偏压) 
+ SUM(明覆2) + SUM(明覆4) + SUM(明覆6) + SUM(帽檐) + SUM(电缆槽) + SUM(检查井) + SUM(临时横撑) + SUM(临时边坡) 
+ SUM(导向墙) + SUM(大管棚) + SUM(中管棚) + SUM(管棚工作室) + SUM(综合Ⅲ) + SUM(电力Ⅲ) + SUM(综合Ⅴ) + SUM(通信Ⅴ) 
+ SUM(电力Ⅴ) + SUM(洞门回填) + SUM(洞门附属工程) + SUM(弃渣场) AS 材料消耗合计
FROM      dbo.隧道材料消耗数量
GROUP BY 里程桩号, 分部工程, 材料名称
ORDER BY ID


GO
/****** Object:  View [dbo].[隧道材料消耗总计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道材料消耗总计]
AS
SELECT   TOP (100) PERCENT ROW_NUMBER() OVER (ORDER BY 里程桩号) AS ID, CASE WHEN (GROUPING(里程桩号) = 1) 
THEN '总计' ELSE ISNULL(里程桩号, 'UNKNOWN') END AS 里程桩号, CASE WHEN (GROUPING(分部工程) = 1) 
THEN '合计' ELSE ISNULL(分部工程, 'UNKNOWN') END AS 分部工程, 
CASE WHEN (GROUPING(材料名称) = 1) THEN '小计' ELSE ISNULL(材料名称, 'UNKNOWN') END AS 材料名称, MIN(单位) AS 单位, 
SUM(Ⅱ) AS Ⅱ, SUM(Ⅲc) AS Ⅲc, SUM([Ⅳa-2]) AS [Ⅳa-2], SUM(Ⅳb) AS Ⅳb, SUM(Ⅴb) AS Ⅴb, SUM(Ⅴc) AS Ⅴc, SUM(明偏压) 
AS 明偏压, SUM(明覆2) AS 明覆2, SUM(明覆4) AS 明覆4, SUM(明覆6) AS 明覆6, SUM(帽檐) AS 帽檐, SUM(电缆槽) AS 电缆槽, 
SUM(检查井) AS 检查井, SUM(临时横撑) AS 临时横撑, SUM(临时边坡) AS 临时边坡, SUM(导向墙) AS 导向墙, SUM(大管棚) 
AS 大管棚, SUM(中管棚) AS 中管棚, SUM(管棚工作室) AS 管棚工作室, SUM(综合Ⅲ) AS 综合Ⅲ, SUM(电力Ⅲ) AS 电力Ⅲ, 
SUM(综合Ⅴ) AS 综合Ⅴ, SUM(通信Ⅴ) AS 通信Ⅴ, SUM(电力Ⅴ) AS 电力Ⅴ, SUM(洞门回填) AS 洞门回填, SUM(洞门附属工程) 
AS 洞门附属工程, SUM(弃渣场) AS 弃渣场
FROM      dbo.隧道材料消耗数量
GROUP BY 里程桩号, 分部工程, 材料名称 WITH ROLLUP
ORDER BY ID


GO
/****** Object:  View [dbo].[大临对上合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[大临对上合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对上设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对上变更数量
FROM      dbo.大临对上
ORDER BY ID


GO
/****** Object:  View [dbo].[大临对下合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[大临对下合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对下设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对下变更数量
FROM      dbo.大临对下
ORDER BY ID


GO
/****** Object:  View [dbo].[大临数据]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[大临数据]
AS
SELECT   TOP (100) PERCENT dbo.大临数量.ID, dbo.大临数量.工程项目, dbo.大临数量.单位, dbo.大临数量.蓝图设计数量, 
                dbo.大临数量.蓝图变更数量, dbo.大临数量.复核设计数量, dbo.大临数量.复核变更数量, dbo.大临数量.已完设计数量, 
                dbo.大临数量.已完变更数量, dbo.大临对上合计.对上设计数量, dbo.大临对上合计.对上变更数量, 
                dbo.大临对下合计.对下设计数量, dbo.大临对下合计.对下变更数量, 
                dbo.大临数量.蓝图设计数量 + dbo.大临数量.蓝图变更数量 AS 蓝图数量, 
                dbo.大临数量.复核设计数量 + dbo.大临数量.复核变更数量 AS 复核数量, 
                dbo.大临数量.已完设计数量 + dbo.大临数量.已完变更数量 AS 已完数量, 
                dbo.大临对上合计.对上设计数量 + dbo.大临对上合计.对上变更数量 AS 对上计价数量, 
                dbo.大临对下合计.对下设计数量 + dbo.大临对下合计.对下变更数量 AS 对下计价数量, dbo.大临对上.单价 AS 清单单价, 
                dbo.大临对下.单价 AS 劳务单价, dbo.大临数量.序号, dbo.大临数量.里程桩号
FROM      dbo.大临数量 INNER JOIN
                dbo.大临对上 ON dbo.大临数量.ID = dbo.大临对上.ID INNER JOIN
                dbo.大临对下 ON dbo.大临数量.ID = dbo.大临对下.ID INNER JOIN
                dbo.大临对上合计 ON dbo.大临数量.ID = dbo.大临对上合计.ID INNER JOIN
                dbo.大临对下合计 ON dbo.大临数量.ID = dbo.大临对下合计.ID
ORDER BY dbo.大临数量.ID


GO
/****** Object:  View [dbo].[大临分析]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[大临分析]
AS
SELECT   TOP (100) PERCENT ID, 工程项目, 单位, 蓝图数量, 复核数量, 已完数量, 对上计价数量, 清单单价, 
                FLOOR(对上计价数量 * 清单单价) AS 对上合价, 对下计价数量, 劳务单价, FLOOR(对下计价数量 * 劳务单价) 
                AS 对下合价, 蓝图数量 - 对下计价数量 AS 对下比照蓝图数量, FLOOR((蓝图数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照蓝图合价, 复核数量 - 对下计价数量 AS 对下比照复核数量, FLOOR((复核数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照复核合价, 已完数量 - 对下计价数量 AS 对下比照已完数量, FLOOR((已完数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照已完合价, 蓝图数量 - 对上计价数量 AS 对上比照蓝图数量, FLOOR((蓝图数量 - 对上计价数量) * 清单单价) 
                AS 对上比照蓝图合价, 复核数量 - 对上计价数量 AS 对上比照复核数量, FLOOR((复核数量 - 对上计价数量) * 清单单价) 
                AS 对上比照复核合价, 已完数量 - 对上计价数量 AS 对上比照已完数量, FLOOR((已完数量 - 对上计价数量) * 清单单价) 
                AS 对上比照已完合价, 序号, 里程桩号
FROM      dbo.大临数据
ORDER BY ID


GO
/****** Object:  View [dbo].[大临汇总]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[大临汇总]
AS
SELECT   TOP (100) PERCENT MIN(序号) AS ID, MIN(工程项目) AS 工程项目, MIN(单位) AS 单位, SUM(蓝图数量) AS 蓝图数量, 
                SUM(复核数量) AS 复核数量, SUM(已完数量) AS 已完数量, SUM(对上计价数量) AS 对上计价数量, MIN(清单单价) 
                AS 清单单价, FLOOR(SUM(对上合价)) AS 对上合价, SUM(对下计价数量) AS 对下计价数量, MIN(劳务单价) AS 劳务单价, 
                FLOOR(SUM(对下合价)) AS 对下合价, SUM(对下比照蓝图数量) AS 对下比照蓝图数量, FLOOR(SUM(对下比照蓝图合价)) 
                AS 对下比照蓝图合价, SUM(对下比照复核数量) AS 对下比照复核数量, FLOOR(SUM(对下比照复核合价)) 
                AS 对下比照复核合价, SUM(对下比照已完数量) AS 对下比照已完数量, FLOOR(SUM(对下比照已完合价)) 
                AS 对下比照已完合价, SUM(对上比照蓝图数量) AS 对上比照蓝图数量, FLOOR(SUM(对上比照蓝图合价)) 
                AS 对上比照蓝图合价, SUM(对上比照复核数量) AS 对上比照复核数量, FLOOR(SUM(对上比照复核合价)) 
                AS 对上比照复核合价, SUM(对上比照已完数量) AS 对上比照已完数量, FLOOR(SUM(对上比照已完合价)) 
                AS 对上比照已完合价
FROM      dbo.大临分析
GROUP BY 序号
ORDER BY ID


GO
/****** Object:  View [dbo].[大临总计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[大临总计]
AS
SELECT   TOP (100) PERCENT FLOOR(MIN(ID) / 15 + 1) AS ID, MIN(里程桩号) AS 里程桩号, FLOOR(SUM(蓝图数量 * 清单单价)) 
                AS 蓝图设计总价, FLOOR(SUM(复核数量 * 清单单价)) AS 蓝图复核总价, FLOOR(SUM(已完数量 * 清单单价)) 
                AS 蓝图已完总价, FLOOR(SUM(对上合价)) AS 对上总价, FLOOR(SUM(对下合价)) AS 对下总价, 
                FLOOR(SUM(对下比照蓝图合价)) AS 对下比照蓝图总价, FLOOR(SUM(对下比照复核合价)) AS 对下比照复核总价, 
                FLOOR(SUM(对下比照已完合价)) AS 对下比照已完总价, FLOOR(SUM(对上比照蓝图合价)) AS 对上比照蓝图总价, 
                FLOOR(SUM(对上比照复核合价)) AS 对上比照复核总价, FLOOR(SUM(对上比照已完合价)) AS 对上比照已完总价
FROM      dbo.大临分析
GROUP BY 里程桩号
ORDER BY ID


GO
/****** Object:  View [dbo].[轨道对上合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[轨道对上合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对上设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对上变更数量
FROM      dbo.轨道对上
ORDER BY ID


GO
/****** Object:  View [dbo].[轨道对下合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[轨道对下合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对下设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对下变更数量
FROM      dbo.轨道对下
ORDER BY ID


GO
/****** Object:  View [dbo].[轨道数据]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[轨道数据]
AS
SELECT   TOP (100) PERCENT dbo.轨道数量.ID, dbo.轨道数量.工程项目, dbo.轨道数量.单位, dbo.轨道数量.蓝图设计数量, 
                dbo.轨道数量.蓝图变更数量, dbo.轨道数量.复核设计数量, dbo.轨道数量.复核变更数量, dbo.轨道数量.已完设计数量, 
                dbo.轨道数量.已完变更数量, dbo.轨道对上合计.对上设计数量, dbo.轨道对上合计.对上变更数量, 
                dbo.轨道对下合计.对下设计数量, dbo.轨道对下合计.对下变更数量, 
                dbo.轨道数量.蓝图设计数量 + dbo.轨道数量.蓝图变更数量 AS 蓝图数量, 
                dbo.轨道数量.复核设计数量 + dbo.轨道数量.复核变更数量 AS 复核数量, 
                dbo.轨道数量.已完设计数量 + dbo.轨道数量.已完变更数量 AS 已完数量, 
                dbo.轨道对上合计.对上设计数量 + dbo.轨道对上合计.对上变更数量 AS 对上计价数量, 
                dbo.轨道对下合计.对下设计数量 + dbo.轨道对下合计.对下变更数量 AS 对下计价数量, dbo.轨道对上.单价 AS 清单单价, 
                dbo.轨道对下.单价 AS 劳务单价, dbo.轨道数量.序号, dbo.轨道数量.里程桩号
FROM      dbo.轨道数量 INNER JOIN
                dbo.轨道对上 ON dbo.轨道数量.ID = dbo.轨道对上.ID INNER JOIN
                dbo.轨道对下 ON dbo.轨道数量.ID = dbo.轨道对下.ID INNER JOIN
                dbo.轨道对上合计 ON dbo.轨道数量.ID = dbo.轨道对上合计.ID INNER JOIN
                dbo.轨道对下合计 ON dbo.轨道数量.ID = dbo.轨道对下合计.ID
ORDER BY dbo.轨道数量.ID


GO
/****** Object:  View [dbo].[轨道分析]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[轨道分析]
AS
SELECT   TOP (100) PERCENT ID, 工程项目, 单位, 蓝图数量, 复核数量, 已完数量, 对上计价数量, 清单单价, 
                FLOOR(对上计价数量 * 清单单价) AS 对上合价, 对下计价数量, 劳务单价, FLOOR(对下计价数量 * 劳务单价) 
                AS 对下合价, 蓝图数量 - 对下计价数量 AS 对下比照蓝图数量, FLOOR((蓝图数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照蓝图合价, 复核数量 - 对下计价数量 AS 对下比照复核数量, FLOOR((复核数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照复核合价, 已完数量 - 对下计价数量 AS 对下比照已完数量, FLOOR((已完数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照已完合价, 蓝图数量 - 对上计价数量 AS 对上比照蓝图数量, FLOOR((蓝图数量 - 对上计价数量) * 清单单价) 
                AS 对上比照蓝图合价, 复核数量 - 对上计价数量 AS 对上比照复核数量, FLOOR((复核数量 - 对上计价数量) * 清单单价) 
                AS 对上比照复核合价, 已完数量 - 对上计价数量 AS 对上比照已完数量, FLOOR((已完数量 - 对上计价数量) * 清单单价) 
                AS 对上比照已完合价, 序号, 里程桩号
FROM      dbo.轨道数据
ORDER BY ID


GO
/****** Object:  View [dbo].[轨道汇总]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[轨道汇总]
AS
SELECT   TOP (100) PERCENT MIN(序号) AS ID, MIN(工程项目) AS 工程项目, MIN(单位) AS 单位, SUM(蓝图数量) AS 蓝图数量, 
                SUM(复核数量) AS 复核数量, SUM(已完数量) AS 已完数量, SUM(对上计价数量) AS 对上计价数量, MIN(清单单价) 
                AS 清单单价, FLOOR(SUM(对上合价)) AS 对上合价, SUM(对下计价数量) AS 对下计价数量, MIN(劳务单价) AS 劳务单价, 
                FLOOR(SUM(对下合价)) AS 对下合价, SUM(对下比照蓝图数量) AS 对下比照蓝图数量, FLOOR(SUM(对下比照蓝图合价)) 
                AS 对下比照蓝图合价, SUM(对下比照复核数量) AS 对下比照复核数量, FLOOR(SUM(对下比照复核合价)) 
                AS 对下比照复核合价, SUM(对下比照已完数量) AS 对下比照已完数量, FLOOR(SUM(对下比照已完合价)) 
                AS 对下比照已完合价, SUM(对上比照蓝图数量) AS 对上比照蓝图数量, FLOOR(SUM(对上比照蓝图合价)) 
                AS 对上比照蓝图合价, SUM(对上比照复核数量) AS 对上比照复核数量, FLOOR(SUM(对上比照复核合价)) 
                AS 对上比照复核合价, SUM(对上比照已完数量) AS 对上比照已完数量, FLOOR(SUM(对上比照已完合价)) 
                AS 对上比照已完合价
FROM      dbo.轨道分析
GROUP BY 序号
ORDER BY ID


GO
/****** Object:  View [dbo].[轨道总计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[轨道总计]
AS
SELECT   TOP (100) PERCENT FLOOR(MIN(ID) / 113 + 1) AS ID, MIN(里程桩号) AS 里程桩号, FLOOR(SUM(蓝图数量 * 清单单价)) 
                AS 蓝图设计总价, FLOOR(SUM(复核数量 * 清单单价)) AS 蓝图复核总价, FLOOR(SUM(已完数量 * 清单单价)) 
                AS 蓝图已完总价, FLOOR(SUM(对上合价)) AS 对上总价, FLOOR(SUM(对下合价)) AS 对下总价, 
                FLOOR(SUM(对下比照蓝图合价)) AS 对下比照蓝图总价, FLOOR(SUM(对下比照复核合价)) AS 对下比照复核总价, 
                FLOOR(SUM(对下比照已完合价)) AS 对下比照已完总价, FLOOR(SUM(对上比照蓝图合价)) AS 对上比照蓝图总价, 
                FLOOR(SUM(对上比照复核合价)) AS 对上比照复核总价, FLOOR(SUM(对上比照已完合价)) AS 对上比照已完总价
FROM      dbo.轨道分析
GROUP BY 里程桩号
ORDER BY ID


GO
/****** Object:  View [dbo].[路基对上合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[路基对上合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对上设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对上变更数量
FROM      dbo.路基对上
ORDER BY ID


GO
/****** Object:  View [dbo].[路基对下合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[路基对下合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对下设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对下变更数量
FROM      dbo.路基对下
ORDER BY ID


GO
/****** Object:  View [dbo].[路基数据]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[路基数据]
AS
SELECT   TOP (100) PERCENT dbo.路基数量.ID, dbo.路基数量.工程项目, dbo.路基数量.单位, dbo.路基数量.蓝图设计数量, 
                dbo.路基数量.蓝图变更数量, dbo.路基数量.复核设计数量, dbo.路基数量.复核变更数量, dbo.路基数量.已完设计数量, 
                dbo.路基数量.已完变更数量, dbo.路基对上合计.对上设计数量, dbo.路基对上合计.对上变更数量, 
                dbo.路基对下合计.对下设计数量, dbo.路基对下合计.对下变更数量, 
                dbo.路基数量.蓝图设计数量 + dbo.路基数量.蓝图变更数量 AS 蓝图数量, 
                dbo.路基数量.复核设计数量 + dbo.路基数量.复核变更数量 AS 复核数量, 
                dbo.路基数量.已完设计数量 + dbo.路基数量.已完变更数量 AS 已完数量, 
                dbo.路基对上合计.对上设计数量 + dbo.路基对上合计.对上变更数量 AS 对上计价数量, 
                dbo.路基对下合计.对下设计数量 + dbo.路基对下合计.对下变更数量 AS 对下计价数量, dbo.路基对上.单价 AS 清单单价, 
                dbo.路基对下.单价 AS 劳务单价, dbo.路基数量.序号, dbo.路基数量.里程桩号
FROM      dbo.路基数量 INNER JOIN
                dbo.路基对上 ON dbo.路基数量.ID = dbo.路基对上.ID INNER JOIN
                dbo.路基对下 ON dbo.路基数量.ID = dbo.路基对下.ID INNER JOIN
                dbo.路基对上合计 ON dbo.路基数量.ID = dbo.路基对上合计.ID INNER JOIN
                dbo.路基对下合计 ON dbo.路基数量.ID = dbo.路基对下合计.ID
ORDER BY dbo.路基数量.ID


GO
/****** Object:  View [dbo].[路基分析]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[路基分析]
AS
SELECT   TOP (100) PERCENT ID, 工程项目, 单位, 蓝图数量, 复核数量, 已完数量, 对上计价数量, 清单单价, 
                FLOOR(对上计价数量 * 清单单价) AS 对上合价, 对下计价数量, 劳务单价, FLOOR(对下计价数量 * 劳务单价) 
                AS 对下合价, 蓝图数量 - 对下计价数量 AS 对下比照蓝图数量, FLOOR((蓝图数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照蓝图合价, 复核数量 - 对下计价数量 AS 对下比照复核数量, FLOOR((复核数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照复核合价, 已完数量 - 对下计价数量 AS 对下比照已完数量, FLOOR((已完数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照已完合价, 蓝图数量 - 对上计价数量 AS 对上比照蓝图数量, FLOOR((蓝图数量 - 对上计价数量) * 清单单价) 
                AS 对上比照蓝图合价, 复核数量 - 对上计价数量 AS 对上比照复核数量, FLOOR((复核数量 - 对上计价数量) * 清单单价) 
                AS 对上比照复核合价, 已完数量 - 对上计价数量 AS 对上比照已完数量, FLOOR((已完数量 - 对上计价数量) * 清单单价) 
                AS 对上比照已完合价, 序号, 里程桩号
FROM      dbo.路基数据
ORDER BY ID


GO
/****** Object:  View [dbo].[路基汇总]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[路基汇总]
AS
SELECT   TOP (100) PERCENT MIN(序号) AS ID, MIN(工程项目) AS 工程项目, MIN(单位) AS 单位, SUM(蓝图数量) AS 蓝图数量, 
                SUM(复核数量) AS 复核数量, SUM(已完数量) AS 已完数量, SUM(对上计价数量) AS 对上计价数量, MIN(清单单价) 
                AS 清单单价, FLOOR(SUM(对上合价)) AS 对上合价, SUM(对下计价数量) AS 对下计价数量, MIN(劳务单价) AS 劳务单价, 
                FLOOR(SUM(对下合价)) AS 对下合价, SUM(对下比照蓝图数量) AS 对下比照蓝图数量, FLOOR(SUM(对下比照蓝图合价)) 
                AS 对下比照蓝图合价, SUM(对下比照复核数量) AS 对下比照复核数量, FLOOR(SUM(对下比照复核合价)) 
                AS 对下比照复核合价, SUM(对下比照已完数量) AS 对下比照已完数量, FLOOR(SUM(对下比照已完合价)) 
                AS 对下比照已完合价, SUM(对上比照蓝图数量) AS 对上比照蓝图数量, FLOOR(SUM(对上比照蓝图合价)) 
                AS 对上比照蓝图合价, SUM(对上比照复核数量) AS 对上比照复核数量, FLOOR(SUM(对上比照复核合价)) 
                AS 对上比照复核合价, SUM(对上比照已完数量) AS 对上比照已完数量, FLOOR(SUM(对上比照已完合价)) 
                AS 对上比照已完合价
FROM      dbo.路基分析
GROUP BY 序号
ORDER BY ID


GO
/****** Object:  View [dbo].[路基总计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[路基总计]
AS
SELECT   TOP (100) PERCENT FLOOR(MIN(ID) / 262 + 1) AS ID, MIN(里程桩号) AS 里程桩号, FLOOR(SUM(蓝图数量 * 清单单价)) 
                AS 蓝图设计总价, FLOOR(SUM(复核数量 * 清单单价)) AS 蓝图复核总价, FLOOR(SUM(已完数量 * 清单单价)) 
                AS 蓝图已完总价, FLOOR(SUM(对上合价)) AS 对上总价, FLOOR(SUM(对下合价)) AS 对下总价, 
                FLOOR(SUM(对下比照蓝图合价)) AS 对下比照蓝图总价, FLOOR(SUM(对下比照复核合价)) AS 对下比照复核总价, 
                FLOOR(SUM(对下比照已完合价)) AS 对下比照已完总价, FLOOR(SUM(对上比照蓝图合价)) AS 对上比照蓝图总价, 
                FLOOR(SUM(对上比照复核合价)) AS 对上比照复核总价, FLOOR(SUM(对上比照已完合价)) AS 对上比照已完总价
FROM      dbo.路基分析
GROUP BY 里程桩号
ORDER BY ID


GO
/****** Object:  View [dbo].[桥涵对上合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[桥涵对上合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对上设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对上变更数量
FROM      dbo.桥涵对上
ORDER BY ID


GO
/****** Object:  View [dbo].[桥涵对下合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[桥涵对下合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对下设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对下变更数量
FROM      dbo.桥涵对下
ORDER BY ID


GO
/****** Object:  View [dbo].[桥涵数据]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[桥涵数据]
AS
SELECT   TOP (100) PERCENT dbo.桥涵数量.ID, dbo.桥涵数量.工程项目, dbo.桥涵数量.单位, dbo.桥涵数量.蓝图设计数量, 
                dbo.桥涵数量.蓝图变更数量, dbo.桥涵数量.复核设计数量, dbo.桥涵数量.复核变更数量, dbo.桥涵数量.已完设计数量, 
                dbo.桥涵数量.已完变更数量, dbo.桥涵对上合计.对上设计数量, dbo.桥涵对上合计.对上变更数量, 
                dbo.桥涵对下合计.对下设计数量, dbo.桥涵对下合计.对下变更数量, 
                dbo.桥涵数量.蓝图设计数量 + dbo.桥涵数量.蓝图变更数量 AS 蓝图数量, 
                dbo.桥涵数量.复核设计数量 + dbo.桥涵数量.复核变更数量 AS 复核数量, 
                dbo.桥涵数量.已完设计数量 + dbo.桥涵数量.已完变更数量 AS 已完数量, 
                dbo.桥涵对上合计.对上设计数量 + dbo.桥涵对上合计.对上变更数量 AS 对上计价数量, 
                dbo.桥涵对下合计.对下设计数量 + dbo.桥涵对下合计.对下变更数量 AS 对下计价数量, dbo.桥涵对上.单价 AS 清单单价, 
                dbo.桥涵对下.单价 AS 劳务单价, dbo.桥涵数量.序号, dbo.桥涵数量.里程桩号
FROM      dbo.桥涵数量 INNER JOIN
                dbo.桥涵对上 ON dbo.桥涵数量.ID = dbo.桥涵对上.ID INNER JOIN
                dbo.桥涵对下 ON dbo.桥涵数量.ID = dbo.桥涵对下.ID INNER JOIN
                dbo.桥涵对上合计 ON dbo.桥涵数量.ID = dbo.桥涵对上合计.ID INNER JOIN
                dbo.桥涵对下合计 ON dbo.桥涵数量.ID = dbo.桥涵对下合计.ID
ORDER BY dbo.桥涵数量.ID


GO
/****** Object:  View [dbo].[桥涵分析]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[桥涵分析]
AS
SELECT   TOP (100) PERCENT ID, 工程项目, 单位, 蓝图数量, 复核数量, 已完数量, 对上计价数量, 清单单价, 
                FLOOR(对上计价数量 * 清单单价) AS 对上合价, 对下计价数量, 劳务单价, FLOOR(对下计价数量 * 劳务单价) 
                AS 对下合价, 蓝图数量 - 对下计价数量 AS 对下比照蓝图数量, FLOOR((蓝图数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照蓝图合价, 复核数量 - 对下计价数量 AS 对下比照复核数量, FLOOR((复核数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照复核合价, 已完数量 - 对下计价数量 AS 对下比照已完数量, FLOOR((已完数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照已完合价, 蓝图数量 - 对上计价数量 AS 对上比照蓝图数量, FLOOR((蓝图数量 - 对上计价数量) * 清单单价) 
                AS 对上比照蓝图合价, 复核数量 - 对上计价数量 AS 对上比照复核数量, FLOOR((复核数量 - 对上计价数量) * 清单单价) 
                AS 对上比照复核合价, 已完数量 - 对上计价数量 AS 对上比照已完数量, FLOOR((已完数量 - 对上计价数量) * 清单单价) 
                AS 对上比照已完合价, 序号, 里程桩号
FROM      dbo.桥涵数据
ORDER BY ID


GO
/****** Object:  View [dbo].[桥涵汇总]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[桥涵汇总]
AS
SELECT   TOP (100) PERCENT MIN(序号) AS ID, MIN(工程项目) AS 工程项目, MIN(单位) AS 单位, SUM(蓝图数量) AS 蓝图数量, 
                SUM(复核数量) AS 复核数量, SUM(已完数量) AS 已完数量, SUM(对上计价数量) AS 对上计价数量, MIN(清单单价) 
                AS 清单单价, FLOOR(SUM(对上合价)) AS 对上合价, SUM(对下计价数量) AS 对下计价数量, MIN(劳务单价) AS 劳务单价, 
                FLOOR(SUM(对下合价)) AS 对下合价, SUM(对下比照蓝图数量) AS 对下比照蓝图数量, FLOOR(SUM(对下比照蓝图合价)) 
                AS 对下比照蓝图合价, SUM(对下比照复核数量) AS 对下比照复核数量, FLOOR(SUM(对下比照复核合价)) 
                AS 对下比照复核合价, SUM(对下比照已完数量) AS 对下比照已完数量, FLOOR(SUM(对下比照已完合价)) 
                AS 对下比照已完合价, SUM(对上比照蓝图数量) AS 对上比照蓝图数量, FLOOR(SUM(对上比照蓝图合价)) 
                AS 对上比照蓝图合价, SUM(对上比照复核数量) AS 对上比照复核数量, FLOOR(SUM(对上比照复核合价)) 
                AS 对上比照复核合价, SUM(对上比照已完数量) AS 对上比照已完数量, FLOOR(SUM(对上比照已完合价)) 
                AS 对上比照已完合价
FROM      dbo.桥涵分析
GROUP BY 序号
ORDER BY ID


GO
/****** Object:  View [dbo].[桥涵总计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[桥涵总计]
AS
SELECT   TOP (100) PERCENT FLOOR(MIN(ID) / 394 + 1) AS ID, MIN(里程桩号) AS 里程桩号, FLOOR(SUM(蓝图数量 * 清单单价)) 
                AS 蓝图设计总价, FLOOR(SUM(复核数量 * 清单单价)) AS 蓝图复核总价, FLOOR(SUM(已完数量 * 清单单价)) 
                AS 蓝图已完总价, FLOOR(SUM(对上合价)) AS 对上总价, FLOOR(SUM(对下合价)) AS 对下总价, 
                FLOOR(SUM(对下比照蓝图合价)) AS 对下比照蓝图总价, FLOOR(SUM(对下比照复核合价)) AS 对下比照复核总价, 
                FLOOR(SUM(对下比照已完合价)) AS 对下比照已完总价, FLOOR(SUM(对上比照蓝图合价)) AS 对上比照蓝图总价, 
                FLOOR(SUM(对上比照复核合价)) AS 对上比照复核总价, FLOOR(SUM(对上比照已完合价)) AS 对上比照已完总价
FROM      dbo.桥涵分析
GROUP BY 里程桩号
ORDER BY ID


GO
/****** Object:  View [dbo].[隧道对上合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道对上合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对上设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对上变更数量
FROM      dbo.隧道对上
ORDER BY ID


GO
/****** Object:  View [dbo].[隧道对下合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道对下合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对下设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对下变更数量
FROM      dbo.隧道对下
ORDER BY ID


GO
/****** Object:  View [dbo].[隧道数据]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道数据]
AS
SELECT   TOP (100) PERCENT dbo.隧道数量.ID, dbo.隧道数量.工程项目, dbo.隧道数量.单位, dbo.隧道数量.蓝图设计数量, 
                dbo.隧道数量.蓝图变更数量, dbo.隧道数量.复核设计数量, dbo.隧道数量.复核变更数量, dbo.隧道数量.已完设计数量, 
                dbo.隧道数量.已完变更数量, dbo.隧道对上合计.对上设计数量, dbo.隧道对上合计.对上变更数量, 
                dbo.隧道对下合计.对下设计数量, dbo.隧道对下合计.对下变更数量, 
                dbo.隧道数量.蓝图设计数量 + dbo.隧道数量.蓝图变更数量 AS 蓝图数量, 
                dbo.隧道数量.复核设计数量 + dbo.隧道数量.复核变更数量 AS 复核数量, 
                dbo.隧道数量.已完设计数量 + dbo.隧道数量.已完变更数量 AS 已完数量, 
                dbo.隧道对上合计.对上设计数量 + dbo.隧道对上合计.对上变更数量 AS 对上计价数量, 
                dbo.隧道对下合计.对下设计数量 + dbo.隧道对下合计.对下变更数量 AS 对下计价数量, dbo.隧道对上.单价 AS 清单单价, 
                dbo.隧道对下.单价 AS 劳务单价, dbo.隧道数量.序号, dbo.隧道数量.里程桩号
FROM      dbo.隧道数量 INNER JOIN
                dbo.隧道对上 ON dbo.隧道数量.ID = dbo.隧道对上.ID INNER JOIN
                dbo.隧道对下 ON dbo.隧道数量.ID = dbo.隧道对下.ID INNER JOIN
                dbo.隧道对上合计 ON dbo.隧道数量.ID = dbo.隧道对上合计.ID INNER JOIN
                dbo.隧道对下合计 ON dbo.隧道数量.ID = dbo.隧道对下合计.ID
ORDER BY dbo.隧道数量.ID


GO
/****** Object:  View [dbo].[隧道分析]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道分析]
AS
SELECT   TOP (100) PERCENT ID, 工程项目, 单位, 蓝图数量, 复核数量, 已完数量, 对上计价数量, 清单单价, 
                FLOOR(对上计价数量 * 清单单价) AS 对上合价, 对下计价数量, 劳务单价, FLOOR(对下计价数量 * 劳务单价) 
                AS 对下合价, 蓝图数量 - 对下计价数量 AS 对下比照蓝图数量, FLOOR((蓝图数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照蓝图合价, 复核数量 - 对下计价数量 AS 对下比照复核数量, FLOOR((复核数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照复核合价, 已完数量 - 对下计价数量 AS 对下比照已完数量, FLOOR((已完数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照已完合价, 蓝图数量 - 对上计价数量 AS 对上比照蓝图数量, FLOOR((蓝图数量 - 对上计价数量) * 清单单价) 
                AS 对上比照蓝图合价, 复核数量 - 对上计价数量 AS 对上比照复核数量, FLOOR((复核数量 - 对上计价数量) * 清单单价) 
                AS 对上比照复核合价, 已完数量 - 对上计价数量 AS 对上比照已完数量, FLOOR((已完数量 - 对上计价数量) * 清单单价) 
                AS 对上比照已完合价, 序号, 里程桩号
FROM      dbo.隧道数据
ORDER BY ID


GO
/****** Object:  View [dbo].[隧道汇总]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道汇总]
AS
SELECT   TOP (100) PERCENT MIN(序号) AS ID, MIN(工程项目) AS 工程项目, MIN(单位) AS 单位, SUM(蓝图数量) AS 蓝图数量, 
                SUM(复核数量) AS 复核数量, SUM(已完数量) AS 已完数量, SUM(对上计价数量) AS 对上计价数量, MIN(清单单价) 
                AS 清单单价, FLOOR(SUM(对上合价)) AS 对上合价, SUM(对下计价数量) AS 对下计价数量, MIN(劳务单价) AS 劳务单价, 
                FLOOR(SUM(对下合价)) AS 对下合价, SUM(对下比照蓝图数量) AS 对下比照蓝图数量, FLOOR(SUM(对下比照蓝图合价)) 
                AS 对下比照蓝图合价, SUM(对下比照复核数量) AS 对下比照复核数量, FLOOR(SUM(对下比照复核合价)) 
                AS 对下比照复核合价, SUM(对下比照已完数量) AS 对下比照已完数量, FLOOR(SUM(对下比照已完合价)) 
                AS 对下比照已完合价, SUM(对上比照蓝图数量) AS 对上比照蓝图数量, FLOOR(SUM(对上比照蓝图合价)) 
                AS 对上比照蓝图合价, SUM(对上比照复核数量) AS 对上比照复核数量, FLOOR(SUM(对上比照复核合价)) 
                AS 对上比照复核合价, SUM(对上比照已完数量) AS 对上比照已完数量, FLOOR(SUM(对上比照已完合价)) 
                AS 对上比照已完合价
FROM      dbo.隧道分析
GROUP BY 序号
ORDER BY ID


GO
/****** Object:  View [dbo].[隧道总计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[隧道总计]
AS
SELECT   TOP (100) PERCENT FLOOR(MIN(ID) / 548 + 1) AS ID, MIN(里程桩号) AS 里程桩号, FLOOR(SUM(蓝图数量 * 清单单价)) 
                AS 蓝图设计总价, FLOOR(SUM(复核数量 * 清单单价)) AS 蓝图复核总价, FLOOR(SUM(已完数量 * 清单单价)) 
                AS 蓝图已完总价, FLOOR(SUM(对上合价)) AS 对上总价, FLOOR(SUM(对下合价)) AS 对下总价, 
                FLOOR(SUM(对下比照蓝图合价)) AS 对下比照蓝图总价, FLOOR(SUM(对下比照复核合价)) AS 对下比照复核总价, 
                FLOOR(SUM(对下比照已完合价)) AS 对下比照已完总价, FLOOR(SUM(对上比照蓝图合价)) AS 对上比照蓝图总价, 
                FLOOR(SUM(对上比照复核合价)) AS 对上比照复核总价, FLOOR(SUM(对上比照已完合价)) AS 对上比照已完总价
FROM      dbo.隧道分析
GROUP BY 里程桩号
ORDER BY ID


GO
/****** Object:  View [dbo].[站场对上合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[站场对上合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对上设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对上变更数量
FROM      dbo.站场对上
ORDER BY ID


GO
/****** Object:  View [dbo].[站场对下合计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[站场对下合计]
AS
SELECT   TOP (100) PERCENT ID, 序号, 单价, 
                [01_设计数量] + [02_设计数量] + [03_设计数量] + [04_设计数量] + [05_设计数量] + [06_设计数量] + [07_设计数量] + [08_设计数量]
                 + [09_设计数量] + [10_设计数量] + [11_设计数量] + [12_设计数量] + [13_设计数量] + [14_设计数量] + [15_设计数量] + [16_设计数量]
                 + [17_设计数量] + [18_设计数量] + [19_设计数量] + [20_设计数量] + [21_设计数量] + [22_设计数量] + [23_设计数量] + [24_设计数量]
                 + [25_设计数量] + [26_设计数量] + [27_设计数量] + [28_设计数量] + [29_设计数量] + [30_设计数量] + [31_设计数量] + [32_设计数量]
                 + [33_设计数量] + [34_设计数量] + [35_设计数量] + [36_设计数量] + [37_设计数量] + [38_设计数量] + [39_设计数量] + [40_设计数量]
                 + [41_设计数量] + [42_设计数量] + [43_设计数量] + [44_设计数量] + [45_设计数量] + [46_设计数量] + [47_设计数量] + [48_设计数量]
                 + [49_设计数量] + [50_设计数量] AS 对下设计数量, 
                [01_变更数量] + [02_变更数量] + [03_变更数量] + [04_变更数量] + [05_变更数量] + [06_变更数量] + [07_变更数量] + [08_变更数量]
                 + [09_变更数量] + [10_变更数量] + [11_变更数量] + [12_变更数量] + [13_变更数量] + [14_变更数量] + [15_变更数量] + [16_变更数量]
                 + [17_变更数量] + [18_变更数量] + [19_变更数量] + [20_变更数量] + [21_变更数量] + [22_变更数量] + [23_变更数量] + [24_变更数量]
                 + [25_变更数量] + [26_变更数量] + [27_变更数量] + [28_变更数量] + [29_变更数量] + [30_变更数量] + [31_变更数量] + [32_变更数量]
                 + [33_变更数量] + [34_变更数量] + [35_变更数量] + [36_变更数量] + [37_变更数量] + [38_变更数量] + [39_变更数量] + [40_变更数量]
                 + [41_变更数量] + [42_变更数量] + [43_变更数量] + [44_变更数量] + [45_变更数量] + [46_变更数量] + [47_变更数量] + [48_变更数量]
                 + [49_变更数量] + [50_变更数量] AS 对下变更数量
FROM      dbo.站场对下
ORDER BY ID


GO
/****** Object:  View [dbo].[站场数据]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[站场数据]
AS
SELECT   TOP (100) PERCENT dbo.站场数量.ID, dbo.站场数量.工程项目, dbo.站场数量.单位, dbo.站场数量.蓝图设计数量, 
                dbo.站场数量.蓝图变更数量, dbo.站场数量.复核设计数量, dbo.站场数量.复核变更数量, dbo.站场数量.已完设计数量, 
                dbo.站场数量.已完变更数量, dbo.站场对上合计.对上设计数量, dbo.站场对上合计.对上变更数量, 
                dbo.站场对下合计.对下设计数量, dbo.站场对下合计.对下变更数量, 
                dbo.站场数量.蓝图设计数量 + dbo.站场数量.蓝图变更数量 AS 蓝图数量, 
                dbo.站场数量.复核设计数量 + dbo.站场数量.复核变更数量 AS 复核数量, 
                dbo.站场数量.已完设计数量 + dbo.站场数量.已完变更数量 AS 已完数量, 
                dbo.站场对上合计.对上设计数量 + dbo.站场对上合计.对上变更数量 AS 对上计价数量, 
                dbo.站场对下合计.对下设计数量 + dbo.站场对下合计.对下变更数量 AS 对下计价数量, dbo.站场对上.单价 AS 清单单价, 
                dbo.站场对下.单价 AS 劳务单价, dbo.站场数量.序号, dbo.站场数量.里程桩号
FROM      dbo.站场数量 INNER JOIN
                dbo.站场对上 ON dbo.站场数量.ID = dbo.站场对上.ID INNER JOIN
                dbo.站场对下 ON dbo.站场数量.ID = dbo.站场对下.ID INNER JOIN
                dbo.站场对上合计 ON dbo.站场数量.ID = dbo.站场对上合计.ID INNER JOIN
                dbo.站场对下合计 ON dbo.站场数量.ID = dbo.站场对下合计.ID
ORDER BY dbo.站场数量.ID


GO
/****** Object:  View [dbo].[站场分析]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[站场分析]
AS
SELECT   TOP (100) PERCENT ID, 工程项目, 单位, 蓝图数量, 复核数量, 已完数量, 对上计价数量, 清单单价, 
                FLOOR(对上计价数量 * 清单单价) AS 对上合价, 对下计价数量, 劳务单价, FLOOR(对下计价数量 * 劳务单价) 
                AS 对下合价, 蓝图数量 - 对下计价数量 AS 对下比照蓝图数量, FLOOR((蓝图数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照蓝图合价, 复核数量 - 对下计价数量 AS 对下比照复核数量, FLOOR((复核数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照复核合价, 已完数量 - 对下计价数量 AS 对下比照已完数量, FLOOR((已完数量 - 对下计价数量) * 劳务单价) 
                AS 对下比照已完合价, 蓝图数量 - 对上计价数量 AS 对上比照蓝图数量, FLOOR((蓝图数量 - 对上计价数量) * 清单单价) 
                AS 对上比照蓝图合价, 复核数量 - 对上计价数量 AS 对上比照复核数量, FLOOR((复核数量 - 对上计价数量) * 清单单价) 
                AS 对上比照复核合价, 已完数量 - 对上计价数量 AS 对上比照已完数量, FLOOR((已完数量 - 对上计价数量) * 清单单价) 
                AS 对上比照已完合价, 序号, 里程桩号
FROM      dbo.站场数据
ORDER BY ID


GO
/****** Object:  View [dbo].[站场汇总]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[站场汇总]
AS
SELECT   TOP (100) PERCENT MIN(序号) AS ID, MIN(工程项目) AS 工程项目, MIN(单位) AS 单位, SUM(蓝图数量) AS 蓝图数量, 
                SUM(复核数量) AS 复核数量, SUM(已完数量) AS 已完数量, SUM(对上计价数量) AS 对上计价数量, MIN(清单单价) 
                AS 清单单价, FLOOR(SUM(对上合价)) AS 对上合价, SUM(对下计价数量) AS 对下计价数量, MIN(劳务单价) AS 劳务单价, 
                FLOOR(SUM(对下合价)) AS 对下合价, SUM(对下比照蓝图数量) AS 对下比照蓝图数量, FLOOR(SUM(对下比照蓝图合价)) 
                AS 对下比照蓝图合价, SUM(对下比照复核数量) AS 对下比照复核数量, FLOOR(SUM(对下比照复核合价)) 
                AS 对下比照复核合价, SUM(对下比照已完数量) AS 对下比照已完数量, FLOOR(SUM(对下比照已完合价)) 
                AS 对下比照已完合价, SUM(对上比照蓝图数量) AS 对上比照蓝图数量, FLOOR(SUM(对上比照蓝图合价)) 
                AS 对上比照蓝图合价, SUM(对上比照复核数量) AS 对上比照复核数量, FLOOR(SUM(对上比照复核合价)) 
                AS 对上比照复核合价, SUM(对上比照已完数量) AS 对上比照已完数量, FLOOR(SUM(对上比照已完合价)) 
                AS 对上比照已完合价
FROM      dbo.站场分析
GROUP BY 序号
ORDER BY ID


GO
/****** Object:  View [dbo].[站场总计]    Script Date: 2016/4/5 21:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[站场总计]
AS
SELECT   TOP (100) PERCENT FLOOR(MIN(ID) / 113 + 1) AS ID, MIN(里程桩号) AS 里程桩号, FLOOR(SUM(蓝图数量 * 清单单价)) 
                AS 蓝图设计总价, FLOOR(SUM(复核数量 * 清单单价)) AS 蓝图复核总价, FLOOR(SUM(已完数量 * 清单单价)) 
                AS 蓝图已完总价, FLOOR(SUM(对上合价)) AS 对上总价, FLOOR(SUM(对下合价)) AS 对下总价, 
                FLOOR(SUM(对下比照蓝图合价)) AS 对下比照蓝图总价, FLOOR(SUM(对下比照复核合价)) AS 对下比照复核总价, 
                FLOOR(SUM(对下比照已完合价)) AS 对下比照已完总价, FLOOR(SUM(对上比照蓝图合价)) AS 对上比照蓝图总价, 
                FLOOR(SUM(对上比照复核合价)) AS 对上比照复核总价, FLOOR(SUM(对上比照已完合价)) AS 对上比照已完总价
FROM      dbo.站场分析
GROUP BY 里程桩号
ORDER BY ID